<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TEMPLATE</title>
    </head>
</html>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <script type="module">
        import { createApp, ref, reactive } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.31/vue.esm-browser.min.js";
        Vue.createApp({
            
        }).component('shopping-list-app',{
            template: `#shopping-list-app-template`,
            setup(){
                const header = ref('Shopping List');
                const items = ref({
                           'item-1': {id: 1, label:"10 party hats"},
                           'item-2': {id: 2, label:"20 balloons"},
                           'item-3': {id: 3, label:"30 balloons"},
                           'item-4': {id: 4, label:"50 balloons"}
                        });
                const itemArrays = ref([
                           {id: 1, label:"10 party hats"},
                           {id: 2, label:"20 balloons"},
                           {id: 3, label:"30 balloons"}
                        ]);
                return {
                    header, items, itemArrays
                }
            }
        }).mount(`#app`);
    </script>
    
    <div id="app">
            <h1>Shopping List App</h1>
            <shopping-list-app></shopping-list-app>
    </div>
    
    <script type="text/x-template" id="shopping-list-app-template">
        <div>
            <h1>{{header}}</h1>
            <ul>
                <li v-for="item in items" :key="item.id">{{item.label}}</li>
                <li v-for="{id, label} in items" :key="id">{{label}}</li>
                <li v-for="({id, label}, index) in items" :key="id">{{index}} {{id}} {{label}}</li>
            </ul>
        </div>
    </script>

</body>